<div class="dialog-container">
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-icon matPrefix class="pr-5" style="padding-bottom: 2rem;">alternate_email</mat-icon>
      <input matInput placeholder="Id/RUT" [formControlName]="'usuario'" style="height: 2rem;" type="number">
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="mat-actions">
    <button mat-button (click)="onNoClick()" mat-flat-button color="warn" class="button-back">Volver</button>
    <button mat-button (click)="submit()" cdkFocusInitial mat-flat-button class="button-submit">Recuperar contraseña</button>
  </div>
</div>
