.login_container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-height: 70%;
    .login-title {
        height: 25%;
        min-height: 25%;
        min-height: 25%;
    }
    form {
        height: 50%;
        min-height: 50%;
        min-height: 50%;
    }
    .login-buttons {
        height: 25%;
        min-height: 25%;
        min-height: 25%;
    }
    .login_button {
        margin-top: 5rem;
    }
    .login-button-send {
        width: 100%;
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(166, 173, 72);
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 1%;
    }
    .login-button-send:hover {
        background-color: #00000072;
    }
    img {
        filter: invert(100%);
    }
}