<h1 mat-dialog-title tabindex="0"> Permisos de ubicación bloqueados </h1>
<div mat-dialog-content>
    <p> Para habilitarlo siga las instrucciones </p>
    <img src="../assets/images/location-guide/print 1 - trimmed.jpg" alt="" style="max-width: 65vw" class="mb-4" />
    <img src="../assets/images/location-guide/print 2 - trimmed.jpg" alt="" style="max-width: 65vw" class="mb-4" />
    <img src="../assets/images/location-guide/print 3 - trimmed.jpg" alt="" style="max-width: 65vw" class="mb-4" />
</div>
<div mat-dialog-actions>
    <button mat-button class="main__input--send" (click)="dialogRef.close()">
        Cerrar
    </button>
</div>