<div class="dialog-container">
  <h1 mat-dialog-title>Cambiar contraseña</h1>
  <h3>Mínimo 8 caracteres, al menos una letra y un número</h3>
  <form [formGroup]="changePassword">
    <mat-form-field class="w-100 mt-1">
      <mat-icon matPrefix class="pr-5" style="padding-bottom: 2rem;">person</mat-icon>
      <input matInput placeholder="RUT"
        [formControlName]="'username'" style="height: 2rem;">
    </mat-form-field>
    <mat-form-field class="w-100 mt-1">
      <mat-icon matPrefix class="pr-5" style="padding-bottom: 2rem;">password</mat-icon>
      <input matInput [type]="hiddenPassword ? 'password' : 'text'" placeholder="Contraseña"
        [formControlName]="'password'" style="height: 2rem;">
      <mat-icon matSuffix class="pr-5" style="padding-bottom: 2rem; color: gray;"
        (click)="hiddenPassword = !hiddenPassword">{{ hiddenPassword ? 'visibility_on' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="changePassword.get('password')!.hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mt-1">
      <mat-icon matPrefix class="pr-5" style="padding-bottom: 2rem;">password</mat-icon>
      <input matInput [type]="hiddenPassword2 ? 'password' : 'text'" placeholder="Repetir contraseña"
        [formControlName]="'confirmPassword'" style="height: 2rem;" [errorStateMatcher]="matcher">
      <mat-icon matSuffix class="pr-5" style="padding-bottom: 2rem; color: gray;"
        (click)="hiddenPassword2 = !hiddenPassword2">{{ hiddenPassword2 ? 'visibility_on' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePassword.hasError('notSame')">Debe ser igual a la contraseña</mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="mat-actions">
    <button mat-button (click)="onNoClick()" mat-flat-button color="warn" class="button-back">Volver</button>
    <button mat-button (click)="submit()" cdkFocusInitial mat-flat-button class="button-submit">Cambiar
      contraseña</button>
  </div>
</div>