
    <section class="main">
        <div class="main__contact">

            <h2 class="main__title">RECUPERAR CONTRASEÑA</h2> <br>

            <form class="main__form">
                 <label for="">Ingrese su Email para recuperar contraseña:</label> <br>
                <input type="email" placeholder="E-mail" class="main__input"> <br>

                <input type="submit" value="ENVIAR E-MAIL" class="main__input--send"> <br>

                <img src="" alt="" class="iconos">
                <img src="" alt="" class="iconos">

                <img src="imagen/optimal.jpg" alt="logo optimal" class="logoOptimal">

            </form>


        </div>
